apiVersion: v1
kind: Service
metadata:
  namespace: {{ .app_name }}-ns
  name: {{ .app_name }}
spec:
  selector:
    app: {{ .app_name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .app_port }}
